.wrapper{
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapper p{
    font-size: 1.2rem;
    margin: 0;
}
.listen_btn{
    width: 130px;
    height: 180px;
    border-radius: 20px;
    color: #333333;
    font-size: 1.3rem;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.listen_btn img {
    width: 130px;
    height: 130px;
}