.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    text-align: center;
    font-size: 1.7rem;
    color: white;
    margin-top: 25%;
}
.progress_container{
    width: 70%;
    height: 10%;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.progress{
    width: 33px;
    height: 33px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    background-color: #EEEEEE;
    display: grid;
    align-items: center;
    justify-content: center;
    color: rgba(51, 51, 51, 0.5);
    font-size: 1rem;
    font-weight: bold;
}
.progress_now{
    width: 33px;
    height: 33px;
    border: 1.5px solid #008DE3;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #008DE3;
    font-size: 1rem;
    font-weight: bold;
}

.study_text{
    width: 90%;
    height: auto;
    min-height: 10vh;
    max-height: 20vh;
    margin: 3% auto;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(0, 141, 227, 0.5);
    color: #333333;
    font-size: 1.3rem;
    display: grid;
    align-items: center;
    justify-content: center;
}
.more{
    margin: 5px;
    color: #FFFFFF;
}
.study_question{
    margin: 0px;
}
.study_answer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.answer_btn{
    width: 100%;
    text-align: center;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.answer_text{
    width: 100%;
    text-align: center;
    margin: 0px;
}

.listen_btn{
    width: 40%;
    height: 8%;
    margin: 15% auto 0;
    background-color: #FFD18B;
    border: 1px solid #FFD18B;
    border-radius: 20px;
    color: #333333;
    font-size: 1.3rem;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
}

.controller_container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
.controller{
    width: 30%;
    height: 30%;
}
.controller img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}