.nav_container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7vh;
}
.wrapper{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    width: 80%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}