.wrapper{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    width: 80%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}