.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper h2{
    color: white;
    font-weight: 400;
    margin-top: 20%;
    font-size: 2rem;
}

.question{
    width: 80%;
    height: auto;
    min-height: 13%;
    border: 1px solid white;
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 3%;
}

.progress_container{
    width: 70%;
    height: 7%;
    margin-top: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.progress{
    width: 33px;
    height: 33px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    background-color: #EEEEEE;
    display: grid;
    align-items: center;
    justify-content: center;
    color: rgba(51, 51, 51, 0.5);
    font-size: 1rem;
    font-weight: bold;
    opacity: 50%;
}
.progress_now{
    width: 33px;
    height: 33px;
    border: 1.5px solid #FFD18B;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #FFD18B;
    font-size: 1rem;
    font-weight: bold;
}

.test_container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10% 0;
}
.record_container{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.record_container img{
    width: 100%;
    height: 100%;
}
.record_container span{
    color: #FFFFFF;
    font-size: 1.3rem;
}

.controller_container{
    width: 100%;
    height: 10%;
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controller{
    width: 30%;
    height: 120px;
}
.controller img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}